@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* Colors */
:root {
  --color-background: #E8E8E3;
  --color-black: #181818;
  --color-white: #F7F7F7;
  --color-gray: #B3B3B3;
  --color-gray-middle: #888684;
  --color-gray-dark: #393632;
}

body {
  background-color: var(--color-background);
}